body {
} 

[id*="bs-select-"] {
  overflow-x: hidden;
}

.table th{
  white-space: nowrap;
}

@media (min-width:768px){
  main.main-home {
    height: 100%!important;
    margin-bottom: -30px;
  }
}

@media (max-width:767px){
  footer span {
    display: block;
  }
}

.form-register {
  padding: 15px;
  margin: auto;
}

.form-signin {
  text-align: center!important;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#home_sidebar {
  height: calc(100% - 30px);
  padding-top: 10px;
}

.overflow-auto::-webkit-scrollbar { width: 0 !important }
.overflow-auto {
  overflow: -moz-scrollbars-none;
}
.overflow-auto {
  -ms-overflow-style: none;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

.clickable {
  cursor: pointer;
}

.buffer-sm {
  height: 10px;
}

.ranklist-table :link {
  color: black;
}

.ranklist-table :visited {
  color: black;
}

.ranklist-table td:nth-child(2){
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0));
  position:sticky;
  left:0px;
}

.ranklist-table{
  white-space: nowrap;
}

.sample_io {
  padding: 0.5rem;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 6px;
}

#avatar_image {
  display: none;
}
#avatar_image.ready {
  width: 230;
  height: 287px;
  display: block;
}
#avatar_image_msg {
  height: 287px;
  text-align: center;
}
#avatar_image_msg.ready {
  display: none;
}
#avatar_image_msg_2 {
  display: inline-block;
  width: 230px;
  height: 230px;
  border: 1px solid #ced4da;
  color: #ced4da;
  text-align: center;
  line-height: 230px;
  font-size: 30px;
  cursor: pointer;
}
#fullname_lock_icon {
  cursor: pointer;
}
#class_lock_icon {
  cursor: pointer;
}

.overflow-auto{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.user-badge{
  font-size: 1em;
  min-width: 40px;
  min-height: 18px;
}

@media (min-width:768px){
  #sb-left{
    opacity: 0;
  }
  #sb-leftmost{
    opacity: 0;
  }
  #sb-right{
    opacity: 0;
  }
  #sb-rightmost{
    opacity: 0;
  }
}
@media (max-width:767px){
  #sb-left{
    display: none;
  }
  #sb-leftmost{
    display: none;
  }
  #sb-right{
    display: none;
  }
  #sb-rightmost{
    display: none;
  }
}
