body {
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

/*clickable-row*/
tr.clickable-row {
  cursor: pointer;
}

th{
  text-align: center;
}
td{
  text-align: center;
}

/*table*/
table {
  table-layout: fixed;
  word-wrap: break-word;
}

/*https://innovativethought.net/2007/06/11/simulating-a-table-using-an-unordered-list/*/
.sortable_list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sortable_list li{
	height: 28px;
}

.sortable_list .sortable_list_cell{
	display: block;
	height: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
	text-align: center;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fdfdfd
}

.top-buffer-sm {
  margin-top: 5px;
}

textarea {
  resize: none;
}

/*sign in*/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
