body {
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

/*clickable-row*/
tr.clickable-row {
  cursor: pointer;
}

th{
  text-align: center;
}
td{
  text-align: center;
}

/*table*/
table {
  table-layout: fixed;
  word-wrap: break-word;
}

/*https://innovativethought.net/2007/06/11/simulating-a-table-using-an-unordered-list/*/
.sortable_list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sortable_list .sortable_list_cell{
	display: block;
	float: left;
	/*border-bottom: 1px solid #ccc;*/
	/*border-right: 1px solid #ccc;*/
	padding: 3px 5px;
	text-align: center;
}

.top-buffer-sm {
  margin-top: 5px;
}

textarea {
  resize: none;
}
